*{
    margin: 0;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}
table{
    height: 50vh;
}
td{
    margin: 0;
    padding: 0;
    aspect-ratio: 1 / 1;
}
img{
    width: 100%;
    display: block;
}